.idea
.vscode
.fleet
.history
.gradle
.classpath
.project
.settings
.vs

publish/
dist
node_modules
target
build
out
logs
bin

*.log
*.iml


bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

StringSorterLib.Test
StringSorter.sln.DotSettings.user

